.ec-menu .navbar-header{
float:right;	
}
.ec-menu .navbar-collapse {
  float: left;
}
.ec-sidebar{
	float:left;
}
.ec-blog-left-side{
float:right;	
}
.blog-detail i {
  text-align: right;
}
.ec-top-social{
	float:right;
}
.ec-top-contact {
  text-align: left;
}
.ec-menu .navbar-nav li {
  float: right;
}
.section-heading {
  text-align: right;
}
.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image {
  width: 45px !important;
  height: 45px !important;
  float: left !important;
}
.sidebar-widget ul li{
  width: 100% !important;
}
.sidebar-widget .menu li,
.sidebar-widget .menu li ul {
  float: right;
  padding-right: 5px;
  text-align: right;
}
.woocommerce div.product form.cart .button {
  float: right;
  margin-right: 20px;
  margin-top: 2px !important;
}
.woocommerce div.product form.cart div.quantity {
  float: right !important;
}
.woocommerce .woocommerce-product-rating .star-rating {
  float: right !important;
}
.woocommerce .images{
	float:right !important;
}
.woocommerce span.onsale{
	right:0;
	left:auto;
	margin:0;
}
.woocommerce img.avatar{
	right:0;
}
.woocommerce .comment-text {
  margin-right: 80px !important;
}
.slider-next::before{
	margin-right:15px;
	margin-left:auto;
}
.slider-prev::before{
	margin-right:15px;
}
.ec-breads h2{
	margin:0;
}
.ec-menu .dropdown-menu li {
  text-align: right;
  width: 100%;
}
.dropdown-menu .caret {
  left: 10px;
  right: auto;
}
.col-md-4.home-blog{
	float:right !important;
}
.blog-cats i{
	text-align:right;
}
.blog-detail li{
	margin-right:0;
}
.blog-detail span {
  margin-left: 5px;
}
.e-comme-search .search-field {
  padding-right: 5px;
}
.navbar-right{
	margin:0;
	padding:0;
}